
table tr:nth-child(even) {
  background-color: white;
  color: black;

}

table tr td:not(nth-child(1)) {
  background-color: white;
  padding: 0 2%;
  border:1px solid blue

}
table th:not(:nth-child(1)) {
  background-color: white;
  padding: 0 2%;
  border:1px solid blue

}

table td + td, table th + th{
  border:1px solid blue

}

table{
  border-collapse: collapse;
}
.review-table-lightmode tr:nth-child(even) {
  background-color: #3b6272;
}
.review-table-lightmode tr:nth-child(odd) {
  background-color: #91a1ab;
}